/**************************/
/*      Create Event      */
/**************************/
input[type=text], textarea, select {
    width: 100%;
    margin-bottom: 5px;
}

.description textarea {
    height: 120px;
    border-radius: 5px;
    resize:none;
}

input[type=text].eventDate {
    width: 91%;
}

.deleteDate {
    float: right;
    margin: 1px 0 0 0;
    border-radius: 5px;
    width: 8%;
    min-width: 25px;
}

.fileUpload.btn.btn-primary {
    margin: auto;
    display: block;
    width: 300px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

img#imagePreview{
    border: 2px solid #EBE9ED;
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
}

#headerUpcomingEventList{
    margin-top:110px;
}

#eventList {
    margin-top: 10px;
}
LinkButton#deleteButton{
    color:red;
    font-size:15px;
}

#eventListName{
    width: 100%;
    display: inline-block;
}

.table-responsive{
    width: 75%;
    overflow-x: visible;
    overflow-y: visible;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.deleteButton{
    float: right;
    display: inline-block;
    padding-right: 30px;
    border: 0px outset buttonface;
	box-sizing: content-box;
    text-decoration: none;
	margin-top: -33px;
  	width: 0px;
	height: 0px;
	background-color: black;
	padding-left: 445px;
	padding-top: 0px;
	padding-bottom: 0;
	font-size: 20px;
	color: #004682;
	text-decoration: none;
	text-transform: uppercase;
    border-radius: 10px;
}
