/**************************************************************/
/* General HTML and body styling, including header and footer */
/**************************************************************/
html {
    font-family: Roboto, sans-serif;
    height: 100%;
    font-size: 99%;
}

body {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 99%;
    width: 100%;
    height: 100%;
}

.mainPane {
    position: relative;
    width: 960px;
    margin: 10px auto 0;
    padding: 0 0 100px;
}

    .mainPane h1 {
        text-align: center;
        margin: 0 0 30px;
        font-size: 30px;
    }

#header {
    background: #fff;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 0px;
    z-index: 12;
}

    #header .top {
        position: relative;
        box-shadow: 0 5px 9px 1px rgba(0,0,0,0.22);
        background: #00c7e6;
        background: -moz-linear-gradient(top, #00c7e6 0%, #0090a5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c7e6), color-stop(100%,#0090a5));
        background: -webkit-linear-gradient(top, #00c7e6 0%,#0090a5 100%);
        background: -o-linear-gradient(top, #00c7e6 0%,#0090a5 100%);
        background: linear-gradient(to bottom, #00c7e6 0%,#0090a5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c7e6', endColorstr='#0090a5',GradientType=0 );
        background-size: cover;
        z-index: 1;
        margin-bottom: 10px;
    }

    #header .EcLogo {
        background: url('https://www.abekaservices.com/Images/Graphics/EmployeeCentralLogo.svg') no-repeat;
        background-size: 250px 70px;
        display: block;
        width: 250px;
        height: 70px;
        float: left;
        text-decoration: none;
        margin-top: 0px;
    }

    #header .EcText {
        position: absolute;
        margin-top: 61px;
        margin-left: 4px;
        text-decoration: none;
        color: rgba(120,230,250,1.00);
        font-size: 8pt;
        white-space: nowrap;
    }

    #header .EsLogo {
        background: url('https://www.abekaservices.com/Images/images/ES_Logo_gradient.png') no-repeat;
        background-size: 410px 90px;
        display: block;
        width: 410px;
        height: 90px;
        float: right;
        margin-top: 12px;
        margin-left: 30px;
        margin-right: 10px;
        text-decoration: none;
    }

header .headerContent {
    width: 863px;
    margin: auto;
}

footer {
    background: #878787;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*******************/
/* General Styling */
/*******************/
label {
    margin: 10px 0 0;
}

#masterForm {
    min-height: 100%;
    position: relative;
}

input[type=submit],
input[type=button] {
    width: inherit;
    height: 33px;
    color: white;
    background: #0090a5;
    padding: 10px;
    font-weight: normal;
    font-size: 11px;
    border: 0;
    border-radius: 0px !important;
    border-bottom: 2px #00c7e6 solid;
    display: inline;
    margin-top: 6px;
}

input[type=button] {
    width: 35px;
    height: 35px;
}

    input[type=button]:disabled {
        opacity: .5;
    }

input[type=text] {
    display: inline;
}

input[type=number] {
    text-align: end;
    padding: 5px 0;
    width: 35px;
    height: 35px;
}

.user-info {
    clear: both;
    text-align: center;
    float: right;
    margin: 10px 0 3px;
}

.user-name {
    font-size: 9.5pt !important;
    color: rgba(120,220,240,1.00) !important;
    margin-bottom: 5px;
    display: block;
}

#Logout {
    display: block;
    background: #017c8e;
    color: white;
    padding: 3px 25px;
    text-decoration: none;
}

    #Logout:hover {
        color: #00bbd7;
    }

h4 {
    font-size: 1.6em;
    color: #737373;
}

#MainContent_GroupRequestContainer {
    background-color: #D3D5D8;
    padding: 10px;
    min-height: inherit;
    border-radius: 0 4px 0 4px;
}

.tab-content {
    background: #D3D5D8;
    box-shadow: 1px 1px 0px #337ab7, -1px -1px 0px #337ab7, 1px -1px 0 #337ab7, -1px 1px 0 #337ab7;
    padding: 15px;
    min-height: 160px;
    border-radius: 0 0 0 4px;
    margin-top: 10px;
}

.event-detail {
    height: 100%;
    margin-bottom: 10px;
}

    .event-detail h3 {
        font-size: 1.6em;
        color: #737373;
    }

    .event-detail span {
        margin: 2px 0 0;
        color: #333;
    }

.choose-seats {
    border-bottom: 3px solid #286090;
    border-radius: 0 4px 0 4px;
    margin: 20px auto 0;
    display: block;
    width: 40%;
    min-width: 165px;
}

/*****************/
/* Group Request */
/*****************/
.request-list {
    list-style: none;
}

.group-member {
    display: inline;
}

.group-status {
    float: right;
}

.pending-status:before {
    content: "Pending";
}

.pending-status:after {
    display: inline-block;
    width: 28px;
    height: 9px;
    margin-left: 5px;
    content: "";
    background: url(Pending.gif) no-repeat 0 0;
    background-size: 100%;
}

.accepted-status:before {
    content: "Accepted";
}

.accepted-status:after {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    content: "";
    background: url(Checkmark.png) no-repeat 0 0;
    background-size: 100%;
}

.rejected-status:before {
    content: "Rejected";
}

.rejected-status:after {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    content: "";
    background: url(x.png) no-repeat 0 0;
    background-size: 85%;
}

.error {
    color: red;
    display: none;
    margin: 5px 0 0;
}

#MainContent_Error {
    color: red;
    font-size: 1.3em;
    margin: 0 auto 25px;
    display: block;
    text-align: center;
}

/**************/
/* Responsive */
/**************/
@media only screen and (max-width: 940px) and (min-width: 768px) {
    header .headerContent {
        width: 731px;
    }
}

@media only screen and (max-width: 995px) and (min-width: 768px) {
    .mainPane {
        width: 768px;
    }
}

@media only screen and (max-width: 830px) {
    #header {
        text-align: center;
    }

        #header .EsLogo {
            background-size: 316px 70px;
            width: 316px;
            height: 70px;
            float: right;
            margin-top: 10px;
            margin-right: 75px;
        }
}

@media only screen and (max-width: 767px) {
    header .headerContent {
        width: 100%;
    }

    .mainPane {
        width: 300px;
    }
}

@media only screen and (max-width: 686px) {
    #header .EsLogo {
        background-size: 230px 50px;
        width: 230px;
        height: 50px;
        float: right;
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .mainPane {
        width: 420px;
    }
}

@media only screen and (max-width: 581px) {
    #header .EcText {
        display: inline;
        margin-top: 60px;
        margin-left: -120px;
    }

    #header .EcLogo {
        padding-left: 50px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #header .EsLogo {
        padding: 0;
        padding-left: 50px;
        position: relative;
        float: none;
        top: 17px;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
    }
}