.tab-content {
    background: #D3D5D8;
    box-shadow: 1px 1px 0px #337ab7, -1px -1px 0px #337ab7, 1px -1px 0 #337ab7, -1px 1px 0 #337ab7;
    padding: 15px;
    min-height: 160px;
    border-radius: 0 0 0 4px;
    margin-top: 10px;
}

#MainContent_GroupRequestContainer {
    background-color: #D3D5D8;
    padding: 10px;
    min-height: inherit;
    border-radius: 0 4px 0 4px;
}

    #MainContent_GroupRequestContainer hr {
        margin-top: 10px;
        margin-bottom: 10px;
        background: #F0F0F0;
    }

    #MainContent_GroupRequestContainer > p {
        color: #5D5D5D;
        font-style: italic;
    }

.request-list {
    list-style: none;
}

.group-member {
    float: left;
}

.group-status {
    display: block;
    text-align: right;
}

.pending-status:before {
    content: "Pending";
}

.pending-status:after {
    display: inline-block;
    width: 28px;
    height: 9px;
    margin-left: 5px;
    content: "";
    background: url('images/Pending.gif') no-repeat 0 0;
    background-size: 100%;
}

.accepted-status:before {
    content: "Accepted";
}

.accepted-status:after {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    content: "";
    background: url('images/Checkmark.png') no-repeat 0 0;
    background-size: 100%;
}

.rejected-status:before {
    content: "Rejected";
}

.rejected-status:after {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    content: "";
    background: url('images/x.png') no-repeat 0 0;
    background-size: 85%;
}