/**************************/
/*     Login/Register     */
/**************************/

#MainContent_CreateAccount, #MainContent_AlreadyHaveAccount {
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 100px;
}

    #MainContent_CreateAccount:visited, #MainContent_AlreadyHaveAccount:visited {
        color: inherit;
    }

#MainContent_labelMessage {
    width: 75%;
    margin: 20px auto;
    display: block;
    color: #EC4040;
}

#MainContent_Error {
    color: red;
    font-size: 1.3em;
    margin: 0 auto 25px;
    display: block;
    text-align: center;
}

/* Joe's Stuff */
#MainContent_EventName {
    display: block;
    font-size: 1.6em !important;
    font-weight: 100;
    height: 40.5px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.Description {
    width: 100%;
    padding: 10px;
}

    .Description h3 {
        margin-top: 0 !important;
        font-size: 25px;
    }

    .Description span {
        font-size: 17px;
    }

.event-side-info {
    padding: 10px;
    background: #D8E6EF;
}

    .event-side-info h3 {
        color: #95B5CA;
        text-transform: uppercase;
        font-size: 1.2em !important;
    }

    .event-side-info span {
        font-size: 1.6em;
        margin: 10px;
    }

.ticket-number-btn {
    display: inline !important;
    padding: 0;
    width: 20% !important;
}

#MainContent_EventPrimePrice {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

#MainContent_GetExtraTickets {
    width: 60%;
    min-width: 150px;
    margin-top: 10px;
}

#MainContent_Submit {
    width: 40%;
    margin: 0 auto;
    margin-top: 85px;
    display: block;
}

span.validator {
    font-size: 14px;
    color: red;
}

    span.validator[style*="inline"] {
        display: block !Important;
    }

/**************************/
/*    Dropdown logout     */
/**************************/
.dropdown {
    float: right;
    min-width: 120px;
}

#choose-seats {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}