/**************************/
/*      Guest Portal      */
/**************************/


/**************************/
/*    Dropdown logout     */
/**************************/
div.dropdown-guest{
    font-size: 14pt;
    color: black;
    float: right;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(0, 93, 170);
    min-width:129px;
    height:100%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9 !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    background-color: #f9f9f9 !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1 !important}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #000EAA;
}

/* The heading for the portal window */
.mainPane #label{
	text-align: center;
	margin-top: 125px;
}

/**************************/
/*     Login/Register     */
/**************************/

#MainContent_CreateAccount, #MainContent_AlreadyHaveAccount{
    display: block;
    text-align: center;
    margin-top: 20px;
}

/* The header of login/register */
.mainPane h1 {
    text-align: center;
    font-size: 26px;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 38px;
    margin-bottom: 0px;
    clear: both;
}

/* The basic look of a textbox */
.mainPane input {
	margin: auto 100px;
	width: 75%;
}

input[type=submit] {
    padding: 0;
}

.mainPane input[type=submit] {
	margin-top: 20px;
}

/* The design of when the textbox is hovered over by the mouse */
.mainPane input[type=submit]:hover {
    background: #005daa;
}

.inner-addon left-addon {

}

/********************/
/*   Event Signup   */
/********************/
#eventSignup {
    clear: both;
    padding-top: 30px;
}

#eventSignup h1 {
    font-size: 18pt;
    margin: 0 auto 5pt auto;
    text-align: left;
}

span {
    font-size: 12pt;
    margin: 0 auto;
}

#MainContent_EventName {
    text-transform: uppercase;
    font-size: 26pt;
    margin: 0 0 40px;
    display: block;
    text-align: center;
}

#eventSignup h3 {
   font-size: 18pt;
   margin: 10px 0px;
}

#guestSignup input[type=number] {
   width: 100px;
   margin: 0 0 0 10.5%;
}

#guestSignup input{
   margin: auto auto 10px auto;
   width: 100%;
}

#guestSignup select {
    margin: 0 0 0 0;
    font-size: 14pt;
    float: right;
}

#guestSignup #MainContent_GetExtraTickets {
   width: 45%;
   float: right;
   text-align: center;
}

input #MainContent_Submit {
   width: 100%;
}