/**************************/
/*      Guest Portal      */
/**************************/

/**************************/
/*     Login/Register     */
/**************************/

#MainContent_CreateAccount, #MainContent_AlreadyHaveAccount {
    display: block;
    text-align: center;
    margin-top: 20px;
}

/* The header of login/register */
.mainPane h1 {
    text-align: center;
    font-size: 26px;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 38px;
    margin-bottom: 0px;
    clear: both;
}

/* The basic look of a textbox */
.mainPane input {
    margin: auto 100px;
    width: 75%;
}

input[type=submit] {
    padding: 0;
}

.mainPane input[type=submit] {
    margin-top: 20px;
}

    /* The design of when the textbox is hovered over by the mouse */
    .mainPane input[type=submit]:hover {
        background: #005daa;
    }

.inner-addon left-addon {
}

/********************/
/*   Event Signup   */
/********************/
#eventSignup {
    clear: both;
    padding-top: 30px;
}

    #eventSignup h1 {
        font-size: 18pt;
        margin: 0 auto 5pt auto;
        text-align: left;
    }

span {
    font-size: 12pt;
    margin: 0 auto;
}

#MainContent_EventName {
    text-transform: uppercase;
    font-size: 26pt;
    margin: 0 0 40px;
    display: block;
    text-align: center;
}

#eventSignup h3 {
    font-size: 18pt;
    margin: 10px 0px;
}

#guestSignup input[type=number] {
    width: 100px;
    margin: 0 0 0 10.5%;
}

#guestSignup input {
    margin: auto auto 10px auto;
    width: 100%;
}

#guestSignup select {
    margin: 0 0 0 0;
    font-size: 14pt;
    float: right;
}

#guestSignup #MainContent_GetExtraTickets {
    width: 45%;
    float: right;
    text-align: center;
}

input #MainContent_Submit {
    width: 100%;
}