body {
    font-size: 13px;
    font-family: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url('curtains.jpg') no-repeat scroll center top;
    background-size: cover;
    background-attachment: fixed;
}

.shadow {
    margin: 75px auto 0px;
    min-width: 600px;
    max-width: 1200px;
    width: 85%;
    padding: 0 30px 30px;
}

.mainPane {
    margin: 0 auto;
    font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-family: verdana, Verdana, Geneva, sans-serifsans-serif;
    padding: 0px 20px 0px;
}

#projectLogo {
    width: 40%;
    margin: 0 auto;
    position:absolute;
}

.spotlight {
    position: relative;
    border-radius: 50%;
    box-shadow: white 0 0 30px 10px;
    width: 30%;
    height: auto;
    padding-top: 30%;
    background: white;
    opacity: 1;
    margin: 0px auto 0px;
    background-image: url('fastickets.png');
    background-size: 85%;
    background-repeat:no-repeat;
    background-position:center;
}

h4 {
    text-align: center;
    font-size: 36px;
    padding: 10px;
    text-transform: uppercase;
}

.links {
    display: block;
    text-align: center;
    margin-top: 70px;
}

.websites {
    display: block;
    font-size: 22px;
}

.table-responsive {
    border: none;
    overflow-y: visible;
    overflow-x: visible;
    padding: 0 10px;
    margin: 0 auto;
}

.rows {
    margin-top: 20px;
    margin-left: auto;
}

.col-sm-4 {
    padding: 10px;
}

.module {
    height: 100px;
    width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background-color: #e6e6e6;
    border: 2px solid #9a9a9a;
    border-radius: 10px;
    border-bottom: 6px solid #9a9a9a;
    transition: background-color 0.3s ease-in, border 0.3s ease-in, border-bottom 0.3s ease-in, color 0.3s ease-in;
}

    .module:active {
        transform: translateY(5px);
    }

    .module:hover {
        background: #92d7ff;
        color: black;
    }

.inner_mod {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
    .rows {
        margin-bottom: 0px;
        margin-top: 0px;
    }
}