.interactiveMap {
    margin: 30px auto 0;
    width: 400px;
    height: 400px;
}

.balcony {
    width: 400px;
    margin: auto;
    background: #32a3dc;
    height: 25px;
    display: block;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 0 25px;
}

.getTickets:disabled {
    opacity: .5;
}