/************************/
/* General body styling */
/************************/
body {
    font-size: 13px;
    font-family: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(http://www.pcci.edu/Images/Backgrounds/Crowne-Centre-Palms-Light14.jpg) no-repeat scroll center top #5AB5E2;
    background-size: cover;
    background-attachment: fixed;
}

/* The shadow of the main pane */
.shadow {
    margin: -16px auto 0px;
    min-width: 600px;
    max-width: 1000px;
    width: 85%;
    padding: 0 30px 30px;
    background-image: url('White25p.png');
}

/* PCC Logo */
.logo {
    float: left;
}

/* The main panel */
.mainPane {
    background: #e4f2fb;
    margin: 0 auto;
    font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
    color: #15589c;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-family: verdana, Verdana, Geneva, sans-serifsans-serif;
    padding: 20px 20px 40px;
}

    .mainPane h1 {
        text-align: center;
        font-size: 26px;
        font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-top: 0px;
        padding-top: 38px;
        margin-bottom: 0px;
        clear: both;
    }

/* The PCC header bar */
.header {
    width: 100%;
    height: 41px;
    background-image: url('http://www.pcci.edu/Images/Backgrounds/PCCHeaderBar.png');
}

.content-wrapper {
    width: 80%;
    margin: auto;
}

h3 {
    font-size: 1.17em;
    margin: 20px 0 5px;
}

input[type=submit],
button,
input[type="button"] {
    width: 100%;
    height: 40px;
    margin-top: 0;
    background: #32a3dc;
    box-sizing: border-box;
    border-radius: 0 4px 0 4px;
    border: 1px solid #32a3ff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
    border-bottom: 2px solid #2479A5;
}

input[type=submit] {
    margin-top: 40px;
}

    input[type=submit]:hover,
    button:hover,
    input[type="button"]:hover {
        background: #2e6da4;
    }

input[type=button]:disabled {
    opacity: .5;
}

input[type=text],
textarea,
input[type=password] {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    padding: 10px 15px;
    outline: none;
    color: black;
}

input[type=number] {
    text-align: center;
    padding: 10px 0;
}

select {
    width: 100%;
    background-color: #60b6ff;
    border-color: #2e6da4;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    text-indent: 0.01px;
}