/**********************************/
/*    Overall Design of Webapp    */
/**********************************/

input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    padding: 0 20px 0 50px;
    outline: none;
}

    input[type=submit] {
        width: 100%;
        height: 40px;
        background: #32a3dc;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #32a3ff;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
        outline: none;
        cursor: pointer;
    }

    input[type="file"]{
        margin: 0 auto;
        width: 75%;
        padding: 0;
    }

    input[type="image"]{
        float: left;
    }
    input[type="button" i]{
        background-color: aqua;
    }

    /* What happens to a textbox when a textbox is clicked */
    input:active,
    input:focus {
        border: 1px solid #ff656c;
    }

    /* What the text looks like inside the input box */
    input#text {
        width: 100%;
        height: 40px;
    }

        input#text:focus {
            width: 100%;
            height: 40px;
        }

a {
    text-decoration: none;
    font-weight: normal;
}

link {
    color: black;
}

visited {
    color: black;
}

hover {
    background-color: #75bae3;
    color: #fff;
    padding-bottom: 8px;
}

section {
    display: block;
}

h3 {
    margin: 10px 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.17em;
}

/* The style of the dropdown boxes */
.dropdown select {
    margin: auto 100px;
    width: 75%;
    height: 40px;
    background-color: #60b6ff;
    border-color: #2e6da4;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    text-indent: 0.01px;
}

.interactiveMap {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.eventCreation select{
    font-size: 15px;
    width: 75%;
    display: inline-block;
    margin: auto 100px;
    height: 40px;
    background-color: #60b6ff;
    border-color: #2e6da4;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    text-indent: 0.01px;
}

/**************************/
/*    Dropdown logout     */
/**************************/
div.drop-menu {
    font-size: 14pt;
    color: black;
    float: right;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(0, 93, 170);
    min-width: 129px;
    height: 100%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-account {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9 !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        background-color: #f9f9f9 !important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1 !important;
        }

/* Show the dropdown menu on hover */
.dropdown-account:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-account:hover .dropbtn {
    background-color: #000EAA;
}