/*********************************/
/* General HTML and body styling */
/*********************************/
html {
    font-family: Roboto, sans-serif;
    height: 100%;
    font-size: 99%;
}

body {
    background-color: #cccccc;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(211, 213, 216,.5) 5px, rgba(211, 213, 216,.5) 6px);
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 99%;
    width: 100%;
}

    body:before {
        content: "";
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
        box-shadow: 0px 0px 10px rgba(0,0,0,.6);
        filter: progid:DXImageTransform.Microsoft.Shadow(color='rgb(0,0,0)', Direction=145, Strength=8);
        z-index: 50000;
    }

.mainPane {
    background: rgba(255,255,255,0.7);
    padding: 30px 20px;
    width: 90%;
    max-width: 74em;
    margin: 25px auto;
    min-height: 300px;
}

    .mainPane h1 {
        text-align: center;
        font-size: 3em;
        margin-bottom: 30px;
        margin-top: 0;
    }

label {
    margin: 10px 0 0;
}

.top-bar {
    background: #035082;
    height: auto;
}

.spacer {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.logo-holder {
    width: 90%;
    max-width: 74em;
    margin: 0 auto;
}

.logo {
    width: 114px;
    background: #0070b9;
    z-index: 100;
    position: absolute;
}

.user-info {
    width: 90%;
    max-width: 74em;
    margin: 0 auto;
    padding-left: 125px;
    height: 100%;
}

.user-name {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
}

#Logout {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.7em;
    text-transform: uppercase;
    vertical-align: middle;
    color: #d3d5d8;
}

.cbp-hrmenu {
    height: 67px;
    width: 100%;
    background: #d3d5d8;
    border-bottom: 4px solid #ffcc02;
    position: relative;
    z-index: 9;
    padding-top: .9em;
    padding-left: 114px;
}

    .cbp-hrmenu > ul {
        width: 90%;
        max-width: 70em;
        margin: 0 auto;
        padding: 0 1.875em;
    }

    .cbp-hrmenu > ul > li {
        display: inline-block;
    }

    .cbp-hrmenu > ul > li > a {
        font-weight: 500;
        padding: 1em 1.7em;
        color: #79797a;
        display: inline-block;
    }

    .cbp-hrmenu > ul > li > a:hover {
        text-decoration: none;
        color: #0070b9;
    }

#MainContent_Error {
    color: red;
    font-size: 1.3em;
    margin: 0 auto 25px;
    display: block;
    text-align: center;
}

h4 {
    font-size: 1.6em;
    color: #737373;
}

/*******************/
/* General Styling */
/*******************/
input[type=submit],
input[type=button] {
    width: inherit;
    height: 33px;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    font-weight: normal;
    font-size: 11px;
    border: 0;
    border-radius: 0px !important;
    border-bottom: 2px #797979 solid;
    display: inline;
    margin-top: 6px;
}

input[type=button] {
    width: 35px;
    height: 35px;
}

    input[type=button]:disabled {
        opacity: .5;
    }

input[type=text] {
    display: inline;
}

input[type=number] {
    text-align: end;
    padding: 5px 0;
    width: 35px;
    height: 35px;
}

.choose-seats {
    border-bottom: 3px solid #286090;
    border-radius: 0 4px 0 4px;
    margin: 20px auto 0;
    display: block;
    width: 40%;
}

input[type=submit].back {
    margin-top: 50px;
}

.error {
    color: red;
    display: none;
    margin: 5px 0 0;
}

/*****************/
/* Event Summary */
/*****************/
.event-detail {
    height: 100%;
    margin-bottom: 10px;
}

    .event-detail h3 {
        font-size: 1.6em;
        color: #737373;
    }

    .event-detail span {
        margin: 2px 0 0;
        color: #333;
    }

/***************/
/*   Seasons   */
/***************/
#MainContent_SeasonDropDown {
    width: 100%;
    background-color: #909090;
    border-color: #2e6da4;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    text-indent: 0.01px;
}

#MainContent_BuySeason {
    margin-top: 50px;
}