/**************************/
/*     Student Portal     */
/**************************/
html {
    font-family: Roboto, sans-serif;
    height: 100%;
    font-size: 99%;
}

body {
    background-color: #cccccc;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(211, 213, 216,.5) 5px, rgba(211, 213, 216,.5) 6px);
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 99%;
    width: 100%;
}

body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
    box-shadow: 0px 0px 10px rgba(0,0,0,.6);
    filter: progid:DXImageTransform.Microsoft.Shadow(color='rgb(0,0,0)', Direction=145, Strength=8);
    z-index: 50000;
}

.top-bar {
    background: #035082;
    height: auto;
}

.spacer {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.logo-holder {
    width: 90%;
    max-width: 74em;
    margin: 0 auto;
}

.logo {
    width: 114px;
    background: #0070b9;
    z-index: 10001;
    position: absolute;
}

.user-info {
    width: 90%;
    max-width: 74em;
    margin: 0 auto;
    padding-left: 125px;
    height: 100%
}

.user-name {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
}

#Logout {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.7em;
    text-transform: uppercase;
    vertical-align: middle;
    color: #d3d5d8;
}

.cbp-hrmenu {
    height: 67px;
    width: 100%;
    background: #d3d5d8;
    border-bottom: 4px solid #ffcc02;
    position: relative;
    z-index: 9;
    padding-top: .9em;
    padding-left: 114px;
}

.mainPane {
    background: rgba(255,255,255,0.7);
    padding: 20px 20px 90px;
    overflow: auto;
    overflow-x: hidden;
    width: 90%;
    max-width: 74em;
    margin: 25px auto;
}

.mainPane h1 {
    text-align: center;
    margin-bottom: 60px;
}

.Signup {
    width: 300px;
    height: 300px;
}

.Date select {
    width: 100%;
    height: 40px;
    background-color: #acadaf;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 5px;
    text-indent: 0.01px;
    font-size: 18px;
}

.group input {
    padding: 0 20px 0 25px;
}

.Status #box {
    width: 100%;
    height: 40px;
    background-color: #F7F5F5;
    border: 1px solid #ccc;
    padding: .5em;
    padding-right: 2.5em;
    margin: 0;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
}

#personStatus {
    margin: -22px auto;
    font-size: 12px;
    text-align: right;
}

.container input[type=submit] {
    background: #acadaf;
    border: 1px solid #ccc;
}

.container input[type=submit]:hover {
    background: #ccc;
    border: 1px solid #acadaf;
}

.sfMap {
    width: 475px;
    height: 313px;
    border-radius: 5px;
    background-image: url('Capture.JPG');
    background-size: 475px 313px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
    margin-top: -382px;
    margin-left: 350px;
}

/*   TEST    */
.loader:before,
.loader:after,
.loader {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    margin: -38px 255px;
    position: relative;
    /* text-indent: -9999em; */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before {
        left: -7px;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 7px;
    }

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em #15589c;
    }

    40% {
        box-shadow: 0 2.5em 0 0 #15589c;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em #15589c;
    }

    40% {
        box-shadow: 0 2.5em 0 0 #15589c;
    }
}

/* Group Request List */
a.panel-heading {
    display: block;
}

.panel-title {
    float: left;
}

.panel-heading .panel-buttons {
    float: right;
}

.group-member {
    display: inline;
}

.group-status {
    float: right;
}

input[type=submit] {
    width: inherit;
    height: 33px;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    font-weight: normal;
    font-size: 11px;
    border: 0;
    border-radius: 0px !important;
    border-bottom: 2px #797979 solid;
    display: inline;
}

#MainContent_GroupList_GroupRequestContainer {
    background-color: #D3D5D8;
    min-height: 150px;
    padding: 25px;
    border-radius: 4px;
}