/**************************/
/*     Student Portal     */
/**************************/
html {
    font-family: Roboto, sans-serif;
    height: 100%;
    font-size: 99%;
}

body {
    background-color: #cccccc;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(211, 213, 216,.5) 5px, rgba(211, 213, 216,.5) 6px);
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 99%;
    width: 100%;
}

    body:before {
        content: "";
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.6);
        box-shadow: 0px 0px 10px rgba(0,0,0,.6);
        filter: progid:DXImageTransform.Microsoft.Shadow(color='rgb(0,0,0)', Direction=145, Strength=8);
        z-index: 50000;
    }

.top-bar {
    background: #035082;
    height: auto;
}

.spacer {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.logo-holder {
    width: 90%;
    max-width: 74em;
    margin: 0 auto;
}

.logo {
    width: 114px;
    background: #0070b9;
    z-index: 10001;
    position: absolute;
}

.user-info {
    width: 90%;
    max-width: 74em;
    margin: 0 auto;
    padding-left: 125px;
    height: 100%;
}

.user-name {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
}

#Logout {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.7em;
    text-transform: uppercase;
    vertical-align: middle;
    color: #d3d5d8;
}

.cbp-hrmenu {
    height: 67px;
    width: 100%;
    background: #d3d5d8;
    border-bottom: 4px solid #ffcc02;
    position: relative;
    z-index: 9;
    padding-top: .9em;
    padding-left: 114px;
}

.mainPane {
    background: rgba(255,255,255,0.7);
    padding: 20px 20px 90px;
    overflow: auto;
    overflow-x: hidden;
    width: 90%;
    max-width: 74em;
    margin: 25px auto;
}

    .mainPane h1 {
        text-align: center;
        margin-bottom: 60px;
    }

.Signup {
    width: 300px;
    height: 300px;
}

.Date select {
    width: 100%;
    height: 40px;
    background-color: #acadaf;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 5px;
    text-indent: 0.01px;
    font-size: 18px;
}

.group input {
    padding: 0 20px 0 25px;
}

.Status #box {
    width: 100%;
    height: 40px;
    background-color: #F7F5F5;
    border: 1px solid #ccc;
    padding: .5em;
    padding-right: 2.5em;
    margin: 0;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
}

#personStatus {
    margin: -22px auto;
    font-size: 12px;
    text-align: right;
}

.container input[type=submit] {
    background: #acadaf;
    border: 1px solid #ccc;
}

    .container input[type=submit]:hover {
        background: #ccc;
        border: 1px solid #acadaf;
    }

.sfMap {
    width: 475px;
    height: 313px;
    border-radius: 5px;
    background-image: url('Capture.JPG');
    background-size: 475px 313px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
    margin-top: -382px;
    margin-left: 350px;
}

/* Group Request List */
a.panel-heading {
    display: block;
}

.panel-title {
    float: left;
}

.panel-heading .panel-buttons {
    float: right;
}

.request-list {
    list-style: none;
}

.group-member {
    display: inline;
}

.group-status {
    float: right;
}

.pending-status:before {
    content: "Pending";
}

.pending-status:after {
    display: inline-block;
    width: 28px;
    height: 9px;
    margin-left: 5px;
    content: "";
    background: url(Pending.gif) no-repeat 0 0;
    background-size: 100%;
}

.accepted-status:before {
    content: "Accepted";
}

.accepted-status:after {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    content: "";
    background: url(Checkmark.png) no-repeat 0 0;
    background-size: 100%;
}

.rejected-status:before {
    content: "Rejected";
}

.rejected-status:after {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    content: "";
    background: url(x.png) no-repeat 0 0;
    background-size: 85%;
}

input[type=submit] {
    width: inherit;
    height: 33px;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    font-weight: normal;
    font-size: 11px;
    border: 0;
    border-radius: 0px !important;
    border-bottom: 2px #797979 solid;
    display: inline;
    margin-top: 6px;
}

input[type=text] {
    display: inline;
}

.error {
    color: red;
    display: none;
}

/* Joe's Stuff */
h4 {
    font-size: 1.6em;
    color: #737373;
}

.nav {
    margin-top: 10px;
}

.mainPane {
    padding: 30px 20px;
}

    .mainPane h1 {
        font-size: 3em;
        margin-bottom: 30px;
        margin-top: 0;
    }

.tab-content {
    background: #D3D5D8;
    box-shadow: 1px 1px 0px #337ab7, -1px -1px 0px #337ab7, 1px -1px 0 #337ab7, -1px 1px 0 #337ab7;
    padding: 15px;
    min-height: 160px;
    border-radius: 0 0 0 4px;
}

.nav-pills > li > a {
    border-radius: 0 4px 0 0;
    color: #A0A2A5;
}

.nav-pills > li:first-child > a {
    border-radius: 0;
}

.nav-pills > li > a:hover {
    background: transparent;
    font-weight: bold;
}

.guestTab > li {
    border-bottom-width: 0;
    border-top-width: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: #D3D5D8;
    color: #337ab7;
    margin: -1px;
    border: 1px solid #337ab7;
    border-bottom-width: 0;
    font-weight: bolder;
    text-decoration: none;
}

.choose-seats {
    border-bottom: 3px solid #286090;
    border-radius: 0 4px 0 4px;
    margin: 20px auto 0;
    display: block;
    width: 40%;
}

#MainContent_TicketQuantityRangeValidator {
    line-height: 46px;
}

#MainContent_GroupRequestContainer {
    background-color: #D3D5D8;
    padding: 10px;
    min-height: auto;
    border-radius: 0 4px 0 4px;
}

    #MainContent_GroupRequestContainer hr {
        margin-top: 10px;
        margin-bottom: 10px;
        background: #F0F0F0;
    }

    #MainContent_GroupRequestContainer > p {
        color: #5D5D5D;
        font-style: italic;
    }

.event-summary,
.event-location,
.event-date {
    font-size: 1.6em;
    color: #737373;
    height: 100%;
    margin-bottom: 8px;
}

    #MainContent_EventDescription,
    #MainContent_EventLocation,
    .event-date select {
        font-size: .7em;
        color: #333;
        display: block;
        margin-top: 2px;
    }

#MainContent_TicketQuantityRangeValidator[style*="inline"] {
    display: block !Important;
}

input[type=submit].getTickets {
    width: 50%;
    margin: 50px auto 0;
    display: block;
}

@media only screen and (max-width: 700px) {
    .nav-pills > li > a {
        border-radius: 0 4px 0 0;
        background: #D3D5D8;
        color: #337ab7;
        margin: -1px;
        border: 1px solid #337ab7;
        border-bottom-width: 0;
    }

        .nav-pills > li > a:hover {
            color: #337ab7;
            background: #D3D5D8;
        }
}